#
# Custom version of the DBus package
#
#./deps/dbus-python-1.1.1.tar.gz==1.1.1
dbus-python==10.1.1

#
# Standard packages from the PIP public repository
#
CherryPy==3.2.2
SQLAlchemy==0.7.8
esky==0.9.7
netifaces==0.5
psutil==0.5.1
pyOpenSSL==0.13
wsgiref==0.1.2
pytest==2.3.4
