#
# This is the configuration file for the PS-Client daemon
#
[global]

#
# Administrators' e-mail addresses
#
admins: ['bostjan.kaluza@gmail.com', 
         'dejan5elin@gmail.com', 
         'lucas.benedicic@gmail.com']
#
# Update URL for newer versions of this client
#
update_url: 'http://ps.ijs.si/downloads'

#
# WSGI server settings
#
server.socket_host: "127.0.0.1"
server.socket_port: 5000
server.thread_pool: 5
#'server.ssl_module': 'ps'
server.ssl_module: "pyopenssl"
server.ssl_certificate: "certs/disp.crt"
server.ssl_private_key: "certs/disp.key"
server.ssl_certificate_chain:   "certs/sigen-ca.pem"

#
# CherryPy settings
#
environment: "testing"

#
# logging settings
#
log.screen:         True
log.database:       tempfile.mkstemp ( )
log.smtp_server:    '127.0.0.1'

#
# statistics-gathering settings
#
stats.database:     tempfile.mkstemp ( )
stats.cpu.interval: 10              # how often (in seconds) to collect CPU usage statistics

